
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baseLayout}">
  
   <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
        
		<!-- 별평점 css -->
		<style>
			/* 별평점 기본선택지 */
			p#star_rev_rate a.rev_rate {
				font-size: 22px;
				text-decoration: none;
				color: lightgray;
			}

			/* 별평점에 마우스 오버했을 경우 선택자 */
			/* .on 옆에있는건 없어도 상관없다. */
			p#star_rev_rate a.rev_rate.on {   
				color: yellow;
			}
		</style>
		
		<!-- 1) Include Handlebars from a CDN 사용목적 -->
		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> <!--Handlebars사용이유: 단순이 화면에 보여주기위해 사용 -->
   
   		<script id="review-template" type="text/x-handlebars-template">
   		<table id="revtable" class="table">
	   	  <thead>
	   	    <tr>
	   	      <th scope="col">번호</th>
	   	      <th scope="col">제목</th>
	   	      <th scope="col">내용</th>
	   	      <th scope="col">평점</th>
			  <th scope="col">작성자</th>
			  <th scope="col">등록일</th>
			  <th scope="col">비고</th>
	   	    </tr>
	   	  </thead>
	   	  <tbody>
	   	   {{#each .}} 
			<tr>                                    <!--첫번째 함수명  두번째,세번째 매개변수 값-->
	   	      <th scope="row">{{rev_code}}</th>
	   	      <td>{{rev_title}}</td>
	   	      <td>{{rev_content}}</td>
	   	      <td>{{displayStar rev_rate}}</td>
			  <td>{{mbsp_id}}</td>
	   	      <td>{{convertDate rev_date}}</td>
			  <td>{{authContorlview mbsp_id rev_code}}</td>
	   	    </tr>
		   {{/each}}
	   	  </tbody>
   		</table>
   		</script>
   </th:block>
  
  
  <body>
  


<th:block layout:fragment="content">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3 class="display-6" th:utext="${cat_name}"></h3>
</div>
<div class="container">
    <div class="row">
        	<div class="col-6">
        		<img th:src="${'/product/image_display?dateFolderName=' + product.pro_up_folder + '&fileName=' + product.pro_img}" style="width: 100%;height: 500px;">
        	</div>
        	<div class="col-6">
        	<form>
				<div class="form-group">
					<span id="info_pro_name" th:text="${product.pro_name}">이름</span>
					<small class="text-muted">(review : 0)</small>
				</div>
  				<div class="form-group">
			    	<label for="exampleFormControlInput1">판매가격: </label><span th:text="${#numbers.formatInteger(product.pro_price, 3, 'COMMA') + '원'}"></span>
				</div>
			    <div class="form-group">
					<label>수량</label>
					<input type="number" class="form-control" value="1" id="btn_cart_amount">
			    </div>
			    <div class="form-group">
					<button type="button" class="btn btn-secondary" style="width: 100%;" th:data-pro_num="${product.pro_num}" id="btn_direct_order">BUY IT NOW</button>
					<button type="button" class="btn btn-light" style="width: 100%;" th:data-pro_num="${product.pro_num}" id="btn_cart_add">ADD TO CART</button>
			    </div>
			</form>
        	
        	</div>
 </div>
 
 <div class="row">
  <div class="col">
	  <div id="pro_info">
	  <ul>
	    <li><a href="#pro_detail">상세정보</a></li>
	    <li><a href="#pro_review">상품리뷰(0)</a></li>
	    <li><a href="#pro_qna">Q&A</a></li>
	  </ul>
	  <div id="pro_detail">
	    <p th:utext="${product.pro_content}"></p> <!-- utext: 태그효과가 먹는거 -->
	  </div>
	  <div id="pro_review">
		<p><button type="button" class="btn btn-link" id="btn_review_modal">상품후기작성</button></p>
		<!--상품후기가 출력될 위치-->
	    <div id="review_list"></div>
			<!--페이징 출력될 위치-->
			<div id="review_paging"></div>
	  </div>
	  <div id="pro_qna">
	    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
	    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
	  </div>
 </div>
</div>
 </div>
       
 
 <div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
</div>

<!-- Button trigger modal -->
  <!-- 상품후기쓰기 Modal -->
  <div class="modal fade" id="review_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">상품후기</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form>
		  	<div class="form-group">
			  <label for="message-text" class="col-form-label">제목</label>
			  <input type="text" class="form-control" id="rev_title">
			  <input type="hidden" class="form-control" id="rev_code">
			</div>
			<div class="form-group">
			  <label for="message-text" class="col-form-label">내용</label>
			  <textarea class="form-control" id="rev_content"></textarea>
			</div>
			<div class="form-group">
			  <label for="recipient-name" class="col-form-label">별평점</label>
			  <p id="star_rev_rate">
				<a class="rev_rate" href="#">☆</a>
				<a class="rev_rate" href="#">☆</a>
				<a class="rev_rate" href="#">☆</a>
				<a class="rev_rate" href="#">☆</a>
				<a class="rev_rate" href="#">☆</a>
			  </p>
			</div>
		  </form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" id="btn_review_save" class="btn btn-primary" th:data-pro_num="${product.pro_num}" >상품후기저장</button>
		  <button type="button" id="btn_review_modify" class="btn btn-primary" th:data-pro_num="${product.pro_num}" >상품후기수정</button>
		</div>
	  </div>
	</div>
  </div>

</th:block>

<th:block layout:fragment="script">
 <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<script th:inline="javascript"> // 타임리프에서 자바스크립트를 사용하기 위해 사용
	
	// 제이쿼리 UI tabs
	$(document).ready(function() {
		$("#pro_info").tabs();
		// 장바구니 추가작업 model2 pro_info_2.html id="btn_cart_add"
		$("button#btn_cart_add").on("click", function() {

			console.log("장바구니추가");

			let pro_num = $(this).data("pro_num");
			let cart_amount = $("#btn_cart_amount").val();

			$.ajax({
				url : '/cart/cart_add',
				type: 'get',
				data: {pro_num : pro_num, cart_amount : cart_amount},
				dataType : "text",
				success : function(result) {
					if(result == 'success') {
						alert("장바구니에 등록되었습니다.");
						if(confirm("장바구니로 이동하시겠습니까?")) {
							location.href = "/cart/cart_list";
						}
					}
				}
			});


		});

		// 이 두 줄의 코드는 페이지 로딩 시 처음으로 보여줄 후기 페이지의 번호를 정의하고, 해당 페이지의 후기 목록을 요청할 URL을 생성하는 역할을 합니다.
		// 상품상세정보와 코드를 가지고 와서 보여주고 다시 요청을해 후기를 가지고 와서 보여준다.
		// 상품후기와 페이징정보를 호출하는 작업
		let reviewPage = 1;  // 상품후기에서 첫번째 페이지를 보여주기 위함
		let url = "/review/revlist/" + [[${product.pro_num}]] + "/" + reviewPage;

		// console.log("상품후기주소", url);

		getReviewList(url);
		
		// ajax 문법을 통한 주소요청작업..  $.ajax, load(), getJSON()
		function getReviewList(url) {    // 상품정보와 페이징정보가 스프링에서 가지고 옴
			$.getJSON(url, function(reviewlist) {
				//console.log("reviewlist", reviewlist.revlist);
				//console.log("reviewlist", reviewlist.pageMaker);
								// 상품후기데이터 // 상푸후기목록이 출력될 위치   // 핸들바 템플릿
				print_reviewlist(reviewlist.revlist, $("#review_list"), $("#review-template"));
				print_paging(reviewlist.pageMaker, $("#review_paging"));
			});
		}

		// 1) 상품후기 UI작업 : Handlebars 템플릿이용
		let print_reviewlist = function(reviewData, target, template) {
			let templateObj = Handlebars.compile(template.html()); // 템플릿 문법검사및 참조
			let reviewHtml = templateObj(reviewData); // 상품후기 + 템플릿
			target.children().remove(); // 무한반복 방지
			target.append(reviewHtml); // 상품후기목록이 출력될 위치에 뿌림
		}

		// 2) 페이징 UI작업 : 로직으로 작업. Handlebars로는 작업이 힘듬
		let print_paging = function(pageData, target) {
			let str = `<nav aria-label="Page navigation example">`;
				str += `<ul class="pagination">`;
			
			// 이전 표시여부
			if(pageData.prev) {
				str += `<li class="page-item">`;
				str += `<a class="page-link" href="${pageData.startPage - 1}" aria-label="Previous">`;
				str += `<span aria-hidden="true">&laquo;</span>`;
				str += `</a>`;				
			}

			// 번호 표시
			for(let i=pageData.startPage; i <= pageData.endPage; i++) {
				let className = pageData.cri.pageNum == i ? 'active' : '';
				str += `<li class="page-item ${className}"><a class="page-link" href="${i}">${i}</a></li>`;
			}

			// 다음 표시여부
			if(pageData.next) {
				str += `<li class="page-item">`;
				str += `<a class="page-link" href="${pageData.endPage + 1}" aria-label="Next">`;
				str += `<span aria-hidden="true">&raquo;</span>`;
				str += `</a>`;				
			}

			

			target.html(str);

		}

		// 핸들바 함수.  Handlebars template에서 사용목적  특수문자: 모음+한자키
		Handlebars.registerHelper("displayStar", function(rating) {
			let star = "";
			switch(rating) {
				case 1:
					star = "★☆☆☆☆";
					break;
				case 2:
					star = "★★☆☆☆";
					break;
				case 3:
					star = "★★★☆☆";
					break;
				case 4:
					star = "★★★★☆";
					break;
				case 5:
					star = "★★★★★";
					break;
				
			}

			return star;
		});

		// 핸들바함수: 날짜를 포맷  2024/07/10
		Handlebars.registerHelper("convertDate", function(rev_date) {
			const d = new Date(rev_date);
			let year = d.getFullYear();
			let month = d.getMonth() + 1;
			let date = d.getDate();
			let hour = d.getHours();
			let minute = d.getMinutes();
		
			return `${year}/${month}/${date} ${hour}:${minute}`;
		});

		// 핸들바함수: 작성자와로그인사용자가 일치되는 경우 수정,삭제버튼 표시
		Handlebars.registerHelper("authContorlview", function(mbsp_id, rev_code) {

			let loginVo = /*[[ ${session.login_status} ]]*/;
			// console.log(loginId);

			let loginId = "";
			if(loginVo !== null) {
				loginId = /*[[${session.login_status == null ? '' : session.login_status.mbsp_id}]]*/;
			}


			let str = "";
			if(loginVo !== null && loginId == mbsp_id) {
				str += `<button type="button" name="btn_review_edit" class="btn btn-link" data-rev_code="${rev_code}">edit</button>`;
				str += `<button type="button" name="btn_review_delete" class="btn btn-link" data-rev_code="${rev_code}">delete</button>`;
				
				return new Handlebars.SafeString(str); // 태그효과 적용을 위해 작성

			}else {
				return "";
			}


						

		});

		// 페이징 클릭 이벤트          페이지번호를 가르키는 태그선택자
			$("#review_paging").on("click", "nav ul.pagination a", function(e) {
				e.preventDefault();
				reviewPage = $(this).attr("href");  // 선택한 페이지번호값이 들어감

				url = "/review/revlist/" + [[${product.pro_num}]] + "/" + reviewPage;

				getReviewList(url);

			}); 

			// 상품후기 Modal
			$("#btn_review_modal").on("click", function() {
				
				$("#btn_review_save").show();
				$("#btn_review_modify").hide(); // 화면에 보이지 않게함
				$("#review_modal").modal('show');


			});

			// 별평점 클릭
			$("p#star_rev_rate a.rev_rate").on("click", function(e) {
				e.preventDefault();
				$(this).parent().children().removeClass("on");  // on선택자 제거
				$(this).addClass("on").prevAll("a").addClass("on");  // 현재선택한 별과 이전별까지 on 선택자 추가
				
			});

			// 상품후기저장 id=btn_review_save
			$("button#btn_review_save").on("click",function() {
				let pro_num = $(this).data("pro_num");
				// console.log(pro_num);

				let rev_title = $("#rev_title").val();
				let rev_content = $("#rev_content").val();
				let rev_rate = 0; // 평점 기본값 0

				$("p#star_rev_rate a.rev_rate").each(function() {
					if($(this).attr("class") == "rev_rate on") {
						rev_rate += 1;
					}

				});
				// 유효성검사
				if(rev_title == "") {
					alert("제목을 입력하세요.");
					return;
				}

				if(rev_content == "") {
					alert("내용을 입력하세요.");
					return;
				}

				if(rev_rate == 0) {
					alert("별평점을 입력하세요.");
					return;
				}
				// 자바스크립트 Object문법사용
				let review_data = {pro_num : pro_num, rev_title : rev_title, rev_content : rev_content, rev_rate : rev_rate};

				$.ajax({
					url: '/review/review_save',
					// 브라우저는 요청방식이 "GET", "POST"만 지원을 한다.
					// REST API개발에서는 "GET", "POST", "DELETE", "PUT", "PATCH" 요청방식을 지원하므로,
					// 스프링 컨트롤러에서 REST API로 매핑주소가 설정되어 있으면,
					// 아래와 같이 "x-HTTP-Method-Override" : "요청방식" 으로 코드를 구성해줘야, 정상적으로 스프링주소를 호출이 가능해진다.
					headers: {																
						"Content-Type" : "application/json", "x-HTTP-Method-Override" : "POST"   // 보내는 데이터가 JSON이라는 뜻
					},
					type: 'post',
					data : JSON.stringify(review_data), // 자바스크립트 Object문법을 JSON으로 변환하는 작업
					datatype: 'text',
					success: function(result) {
						alert("상품후기가 등록됨");
						$("#review_modal").modal('hide');
						getReviewList(url); // 상품후기목록과페이징정보를 갱신
					}		
				});
			});

			// 상품후기 수정폼(수정하는 작업을 보여주기위해) name="btn_review_edit"
			$("div#review_list").on("click","button[name='btn_review_edit']" ,function(){
				let rev_code = $(this).data("rev_code");
				
				$.ajax({
					url: '/review/review_modify/' + rev_code,    // REST API
					headers: {																
						"Content-Type" : "application/json", "x-HTTP-Method-Override" : "GET"   
					},
					type: 'get',
					dataType: 'json',  // 스프링에서 넘어오는 데이터가 무슨타입인지 확인
					success: function(result) {  // result: 스프링에서 넘어오는 값 (상품후기 내용이 들어옴)
						console.log(result);

						// modal 내용에 상품후기 출력작업
						$("#rev_title").val(result.rev_title);
						$("#rev_content").val(result.rev_content);
						$("#rev_code").val(result.rev_code);  // <input type="hidden" id="rev_code">

						// $("#btn_review_save").html("상품후기수정");  // id값은 한번 정하면 변경불가, 현재는 쓰기랑 저장이 같이 구축되버림

						let rev_rate = result.rev_rate;
						
						$("p#star_rev_rate a.rev_rate").each(function(index,item) {

							if(index < rev_rate) {
								$(this).addClass("on");
							}
								
						});
						// modal 보여주기
						$("#btn_review_save").hide(); // 화면에 보이지 않게함
						$("#btn_review_modify").show(); 
						$("#review_modal").modal('show');

					}

				});
			});

			// 상품후기 수정클릭
			// 상품후기저장 id=btn_review_save
			$("button#btn_review_modify").on("click",function() {
				let pro_num = $(this).data("pro_num");
				// console.log(pro_num);

				let rev_code = $("#rev_code").val();
				let rev_title = $("#rev_title").val();
				let rev_content = $("#rev_content").val();
				let rev_rate = 0; // 평점 기본값 0

				$("p#star_rev_rate a.rev_rate").each(function() {
					if($(this).attr("class") == "rev_rate on") {
						rev_rate += 1;
					}

				});
				// 유효성검사
				if(rev_title == "") {
					alert("제목을 입력하세요.");
					return;
				}

				if(rev_content == "") {
					alert("내용을 입력하세요.");
					return;
				}

				if(rev_rate == 0) {
					alert("별평점을 입력하세요.");
					return;
				}
				// 자바스크립트 Object문법사용
				let review_data = {rev_code : rev_code ,pro_num : pro_num, rev_title : rev_title, rev_content : rev_content, rev_rate : rev_rate};

				$.ajax({
					url: '/review/review_modify',
					// 브라우저는 요청방식이 "GET", "POST"만 지원을 한다.
					// REST API개발에서는 "GET", "POST", "DELETE", "PUT", "PATCH" 요청방식을 지원하므로,
					// 스프링 컨트롤러에서 REST API로 매핑주소가 설정되어 있으면,
					// 아래와 같이 "x-HTTP-Method-Override" : "요청방식" 으로 코드를 구성해줘야, 정상적으로 스프링주소를 호출이 가능해진다.
					headers: {																
						"Content-Type" : "application/json", "x-HTTP-Method-Override" : "PUT"   // 보내는 데이터가 JSON이라는 뜻
					},
					type: 'put',
					data : JSON.stringify(review_data), // 자바스크립트 Object문법을 JSON으로 변환하는 작업
					datatype: 'text',
					success: function(result) {
						alert("상품후기가 수정됨");
						$("#review_modal").modal('hide');
						getReviewList(url); // 상품후기목록과페이징정보를 갱신
					}		
				});
			});


			// 상품후기 삭제 name="btn_review_delete"
			$("div#review_list").on("click","button[name='btn_review_delete']" ,function(){
				if(!confirm("삭제하시겠습니까?")) return;

				let rev_code = $(this).data("rev_code");

				$.ajax({
					url: '/review/review_delete/' + rev_code,
					// 브라우저는 요청방식이 "GET", "POST"만 지원을 한다.
					// REST API개발에서는 "GET", "POST", "DELETE", "PUT", "PATCH" 요청방식을 지원하므로,
					// 스프링 컨트롤러에서 REST API로 매핑주소가 설정되어 있으면,
					// 아래와 같이 "x-HTTP-Method-Override" : "요청방식" 으로 코드를 구성해줘야, 정상적으로 스프링주소를 호출이 가능해진다.
					headers: {																
						"Content-Type" : "application/json", "x-HTTP-Method-Override" : "DELETE"   // 보내는 데이터가 JSON이며 웹브라우저가 delete를 인식을 못해서 코드로 처리하는것
					},
					type: 'delete',
					datatype: 'text',
					success: function(result) {
						alert("상품후기가 삭제됨");
						getReviewList(url); // 상품후기목록과페이징정보를 갱신
					}		
				});
			});
				
			// 바로구매 id="btn_direct_order"
			$("#btn_direct_order").on("click",function() {
				console.info("바로구매");
				
				let cart_amount = $("#btn_cart_amount").val();
				let pro_num = $(this).data("pro_num");
				let url = `/order/orderinfo?pro_num=${pro_num}&cart_amount=${cart_amount}`;

				location.href = url;

				});
			

	}); // ready event end

</script>
</th:block>


  </body>
</html>
